<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Posts</a></li>
	        	<li><a href="/notes">Notes</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<div class="container">

        {{ content }}

		</div><!-- /.container -->
		<footer>
            <ul>
            <li>greg(lastname)@gmail.com</li>
            <li><a href="https://github.com/gputzel">github.com/gputzel</a></li>
            <li><a href="https://mstdn.science/@gregputzel">Mastodon: @gregputzel@mstdn.science</a></li>
            </ul>
		</footer>
	</body>
</html>

